#logo{
  color: red;
}

#nav li a {
  color: blue;
}

#nav li a:visited{
  color: green;
}
#above-the-fold .card p{
  color: white;
}
#above-the-fold .card button{
  background-color: #90EE90;
  color: white;
}
article::first-letter {
    margin-left: 30px;
}
#blog{
  background-color: #666;
  color: #cff;
}

#gallery figure:hover {
   box-shadow: 0 10px 30px  #000;
}

#gallery figcaption{
  padding: 8px;

}
article h3{
  text-align: center;

}
article{
  margin-top: 40px;
}

section h2{
  text-transform: uppercase;
}
 form input{
   margin: 10px;
   padding: 8px;

 }
 form input:focus,
 textarea:focus{
   border-color: rgb(0,255,0);
   outline: none;
 }
 textarea{
   display: block;
 }

 form input[type="submit"]{
   display: block;
   background-color: #0F0;
 }
 footer{
   background : rgb(80,80,80);
   font: #ff9900;
 }
section h2::before{
  content: "**";
}
form input[type="radio"]{
  margin-left: 20px;
}
address p{
  margin: 0;
  padding: 20px;
}
